#m_holder, #holder, #l_holder{
    margin-top: 2rem;
    font-weight: 700;
    text-align: center;
}
#m_holder div{
    padding-top: 1rem;
    font-weight: 100;
    text-align: left;
}
#holder div{
    padding-top: 1rem;
    font-weight: 100;
    text-align: left;
}
#l_holder div{
    padding-top: 1rem;
    font-weight: 100;
    text-align: left;
}
